/* global styles */

html {
    scroll-behavior: smooth;
    /*Настройки скроллбара*/
    scrollbar-width: thin;
    scrollbar-color: #0000005a #ffffff00;
}
    /*Якорь будет чуть ниже листать*/
.anchor {
    height: 3rem;
    margin-top: 3rem;
}

@font-face {
    font-family: Roboto Mono;
    src: url(fonts/RobotoMono.ttf);
}

body{
    font-family: "Roboto Mono", monospace;
    font-size: large;
}

h1 {
    font-size: xx-large;
}
section {
    width: 100rem;
    max-width: 85%;
    margin: 2rem auto;
}
a:hover {
    transition: all 250ms;
    color: #e66465;
}
a {
    transition: all 250ms;
    color: #1f1f1f;
}

/*Navbar*/
nav {
    display: flex;
    justify-content: space-around;
    padding: .8rem;
    position: sticky;
    top: 0;
    z-index: 10 ;
  
    color: #efefef;
    background: linear-gradient(#1f1f1f, #161616);
    box-shadow: 0 0 0.5rem black;
    font-size: x-large; 
}
nav > .brand {
    display: flex;
    align-items: center;
    gap: .7em;   
    
    font-size: 2rem; 
    font-weight: bold;
    color: #efefef;
}
nav > .brand > img {
    width: 1em;
    filter: invert(100%);
}
nav > .navlinks {
    color: #efefef;
    display: flex;
    align-items: center;
    gap: 4vw;
    font-size: large;
}
nav > .navlinks a {
    transition: all 250ms;
    color: #e6e6e6;
}
nav > .navlinks a:hover {
    transition: all 250ms;
    color: #e66465;
}
    /*Когда экран узкий, ссылки отображатся в столбец 
    (думаю, временное решение)*/
@media screen and (max-width: 770px){
    nav > .navlinks {
        flex-direction: column;
        gap: .5rem;  
    }
}

/*Header*/
    /*Картинка с ноутом */
#image-bg {
    display: flex;
    opacity: .6;
    width: 100%;
    height: 23rem;
    overflow: hidden;
    object-fit: cover;
    border-radius: 0 0 2rem 2rem;
}
.head {
    border-radius: 0 0 2rem 2rem;
    background: linear-gradient(hsla(152, 100%, 22%, 0.869) , hsla(186, 100%, 21%, 0.829) );
    /*Расположение текста на ней*/
    position: relative;
    text-align: center;
    color: #efefef;     
}
.image-text {
    /*Смещение теста на картинку*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: xx-large;
    text-shadow: 0 0 1rem #000000;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15rem;
    justify-content: space-between;
    align-items: center;
}
.image-text > .title{
    font-weight: bold;
}
.image-text > .subtitle{
    font-weight: 300;
    font-size: 1.6rem;
}
.image-text > .button{
    background-color: #e6e6e6;
    text-shadow: 0 0 0;
    padding-inline: 2rem;
    font-weight: light;
    letter-spacing: .08em;
    font-family: "Roboto Mono", monospace;
    border-radius: .7rem;
    
}

/* Teachers */

.teacher > img {
    aspect-ratio: 1;
    border-radius: .7rem;
    object-fit: cover;
    box-shadow: .2rem .2rem .4rem rgba(0, 0, 0, 0.624);
    margin-bottom: .5%;
}
  
.teachers .teachers-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    gap: 5%;
    margin-top: 2rem;
}

.teachers .teachers-wrapper .teacher {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    justify-content: space-between;
}

.badge {
    padding: .5rem;
    background-color: #363636;
    color: #e6e6e6;
    box-shadow: .2rem .2rem .4rem black;
    padding-inline: 2rem;
    border-radius: .7rem;
}
/*Изменение числа столбцов сетки 
в зависимости от ширины экрана*/
@media screen and (max-width: 1460px){
    .teachers .teachers-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 1097px){
    .teachers .teachers-wrapper {
        grid-template-columns: repeat(3 , 1fr);
    }
}
@media screen and (max-width: 800px){
    .teachers .teachers-wrapper {
        grid-template-columns: repeat(2 , 1fr);
    }
}